<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae neque vero qui voluptate, consectetur nam asperiores veniam odio ea excepturi similique magnam ducimus beatae nobis vel. Soluta unde optio accusamus nostrum quia labore suscipit praesentium quae. Nulla molestias non est!</p>
    </div>
</div>