<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongod db</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eaque pariatur, id quas sunt sed, a odit delectus, enim unde voluptate aliquam deleniti molestias libero! Vel perspiciatis aliquid recusandae ipsum.</p>
    <a href="http://fatzweb.com" class="btn btn-primary btn-lg">FatzWeb</a>
</div>